apiVersion: 1

contactPoints:
  - orgId: 1
    name: Default
    receivers:
      - uid: default-email
        type: email
        settings:
          addresses: admin@localhost
        disableResolveMessage: false
